<% if (!index && (page.path !== 'demo/index.html') && post.comments){ %>
<section id="comments">
  <!--友言 开始-->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2143418"></script>
  <!--友言 结束-->
</section>
<% } %>
