<% if (!index && (page.path !== 'demo/index.html') && post.comments){ %>
<section id="comments">
  <!--网易云跟帖 开始-->
  <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
  <script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "5a032688db1348678f3949687092d2c3",
    target: "cloud-tie-wrapper"
  };
  </script>
  <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
  <!--网易云跟帖 结束-->
</section>
<% } %>
