<footer id="colophon" role="contentinfo">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="https://github.com/jserNc/" target="_blank"><%= config.author || config.title %></a>
    All rights reserved. Powered by 
        <a href="http://hexo.io/" target="_blank">Hexo</a>
    </p>
    <p>
        <span id="busuanzi_container_site_uv">
            你是本站第<span id="busuanzi_value_site_uv"></span>位访客，欢迎你！
        </span>
    </p>
</footer>