/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #292c36;
  font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  border: 0 !important;
  font-size: 1.1em;
}

.pln {
  color: #0f0;
  font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  font-size: 1.1em;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #dddddd;
  font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  font-size: 1.1em;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #292c36;
  list-style-type: decimal;
  font-size: 1.1em;
  font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
}

@media screen {

  /* string content */

  .str {
    color: #6f0;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* keyword */

  .kwd {
    color: #f60;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* comment */

  .com {
    color: #a0a000;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* type name */

  .typ {
    color: #ff8000;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* literal value */

  .lit {
    color: #ff0;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* punctuation */

  .pun {
    color: #fff;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* lisp open bracket */

  .opn {
    color: #fff;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* lisp close bracket */

  .clo {
    color: #fff;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* markup tag name */

  .tag {
    color: #fff;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* markup attribute name */

  .atn {
    color: #9c9;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* markup attribute value */

  .atv {
    color: #6f0;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* declaration */

  .dec {
    color: #fff;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* variable name */

  .var {
    color: #fff;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }

  /* function name */

  .fun {
    color: #bf00bf;
	font-size: 1.1em;
	font-family: Monaco,Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace !important;
  }
}


